---
const { post } = Astro.props
---

<li class="main__blogpost">
    <a href={post.url}>
      <h2>{post.frontmatter.title}</h2>
    </a>
</li>

<style>
  li {
    margin: 0;
    padding: 0;
  }

  li a {
    color: unset;
    text-decoration: none;
  }
</style>