---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="i <3 web blog" />
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png">
    <title>i &lt;3 web blog</title>
  </head>
  <body>
    <header>
      <nav>
        
      </nav>
    </header>

    <main>
        <slot />
    </main>

    <footer>
      <div class="footer__socials">
        <ion-icon name="logo-linkedin"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-tiktok"></ion-icon>
        <ion-icon name="logo-github"></ion-icon>
      </div>
      <p class="footer__message">made with &lt;3 by eef</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>