---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="i <3 web blog" />
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <title>i &lt;3 web blog</title>
  </head>
  <body>
    <Header></Header>

    <main>
        <slot />
    </main>

    <Footer></Footer>
  </body>
</html>

<style>
  body {
    font-family: 'Varela Round';
  }
</style>